.navbar {
    background-color: cadetblue;
}

.fa-home, .fa-child {
    font-size: 25px;
}

.home {
    font-size: 16pt;
}

.nav-link {
    font-size: 16pt;
    color: black;
    margin-left: -10px;
}

.nav-link:hover {
    color: black;
}

#sign-out {
    text-align: right;
}