html, .row {
    background-color: cadetblue;
}

h1 {
    padding-top: 10px;
    text-align: center;
}
h5 {
    padding-top: 10px;
    margin-bottom: 25px;
    text-align: center;
}

.card-body {
    margin-top: 30px;
    background-color: white;
    border-radius: 2em;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
}

.form-label-group {
    margin-bottom: 30px;
}
.btn, .form-control {
    border-radius: 2rem;
    padding: 15px;
}
.form-signin {
    padding: 0px 40px 30px 40px;
}